-def build_url(service_id, limit, page); "/#{service_id}/?limit=#{limit}&page=#{page}"; end
.events
  .service
    %h1
      =@service.name
    %p
      =@service.description
  .list
    -@events.each do |event|
      .event
        %h2
          =event.name
        %p.description
          =event.description
        %p.time
          =event.created_at.to_s
        -if authorized?
          .admin-actions
            =button_link_tag('Edit',"/#{@service.id}/#{event.id}/edit")
  -if authorized?
    .admin-actions
      =button_link_tag('New event', "/#{@service.id}/new")
  .navigation
    %p
      -if @page > 0
        %a.prev{:href => build_url(@service.id, @limit, @page - 1)} Previous
      Page
      =@page + 1
      -if @total_events > (@page + 1) * @limit
        %a.next{:href => build_url(@service.id, @limit, @page + 1)} Next
